@if (Session["type"] == null || Session["type"].ToString() == "")
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log out", "Logout", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink(Session["name"].ToString(), "ProfilePage", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
